{% extends 'blog/base.html' %}
{% block title %}Личный кабинет{% endblock %}
{% block content %}
{% include 'blog/auth_reg.html' %}
<a href="{% url 'blog:index' %}"><h3>На главную страницу</h3></a><br>
<a href="{% url 'blog:post_handler' action='create' %}"><h4>Создать новую статью</h4></a>
<a href="{% url 'blog:user_update' %}"><h4>Обновить профиль</h4></a>
{% comment %}
<a href="{% url 'blog:post_handler' action='create' %}"><h4>Создать новую категорию</h4></a><br>
{% endcomment %}
<a href="{% url 'blog:password_change' %}"><h4>Изменить пароль</h4></a>
{% include 'blog/generator.html' %}
{% include 'blog/paginator.html' %}
{% endblock %}

